In [3]:
print("Hi")

Hi

In [4]:
import pandas as pd #Pandas used to load any CSV FIle
import numpy as np #Numpy is for Number manuplation

In [ ]:
books = pd.read_csv(
    'Books.csv',
    sep=",",
    on_bad_lines='skip',   # replaces error_bad_lines=False (New version of pandas --> On_bad_line skip is usin)
    encoding='latin-1'
)
#Reading books.csv using --> pandas --> seperated by "," inside the file see it can be ;, etc.,,
#error badlines --> In CSV Files ---> some times a row can be --> just have opening or just closing like that to handle we are using 
#encoding ---> the csv file to be encoded in 'Latin1" format to read --> ie., to read a file by the computer

/var/folders/nz/kdv6sm613w3740y9sz8f9vl80000gn/T/ipykernel_37543/616762567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(

In [7]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [9]:
books.shape #Show howmuch data books csv is containing --> 27k columns, 8 rows
books.columns #Shows what is in columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [10]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']] #removed small & medium images URL

In [11]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [12]:
#Loading 2nd Frame 
users = pd.read_csv(
    'Users.csv',
    sep=",",
    on_bad_lines='skip',   # replaces error_bad_lines=False (New version of pandas --> On_bad_line skip is usin)
    encoding='latin-1'
)

In [13]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [15]:
#Renaming COlumns in the Dataset
users.rename(columns={
            "User-ID" : "USER_ID",
            "Location" : "PLACE_ORIGIN",
            "Age" : "AGE_RANGE",
},
inplace=True)

In [16]:
users.head()

   USER_ID                        PLACE_ORIGIN  AGE_RANGE
0        1                  nyc, new york, usa        NaN
1        2           stockton, california, usa       18.0
2        3     moscow, yukon territory, russia        NaN
3        4           porto, v.n.gaia, portugal       17.0
4        5  farnborough, hants, united kingdom        NaN

In [17]:
#Loading 3rd Frame 
ratings = pd.read_csv(
    'Ratings.csv',
    sep=",",
    on_bad_lines='skip',   # replaces error_bad_lines=False (New version of pandas --> On_bad_line skip is usin)
    encoding='latin-1'
)

In [18]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [19]:
ratings['User-ID'].value_counts() #Shows how many times a particular user is repeating while rating

User-ID
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
119573        1
276706        1
276697        1
276679        1
276676        1
Name: count, Length: 105283, dtype: int64

In [20]:
x = ratings['User-ID'].value_counts() > 200 #in x storing users who read >200 books

In [22]:
x #Printing X

User-ID
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
119573    False
276706    False
276697    False
276679    False
276676    False
Name: count, Length: 105283, dtype: bool

In [23]:
#Merging Ratings with Books

ratings_with_books = ratings.merge(books, on="ISBN") #Merging both -- based on ISBN Number

In [24]:
ratings_with_books.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...

In [ ]:
#Can also merge users who read > 200 books only --> if want --> can be used in many ways

In [ ]:
#converting column names to Lower Case
ratings_with_books.columns = ratings_with_books.columns.str.lower()

In [28]:
#To check number of ratings each book got
number_of_ratings = ratings_with_books.groupby('book-title')['book-rating'].count().reset_index()

In [29]:
number_of_ratings.head()

                                          book-title  book-rating
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

In [33]:
number_of_ratings.rename(columns={'book-rating' : 'total_ratings'}, inplace=True)

In [34]:
number_of_ratings.head()

                                          book-title  total_ratings
0   A Light in the Storm: The Civil War Diary of ...              4
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Ask Lily (Young Women of Faith: Lily Series, ...              1
4   Beyond IBM: Leadership Marketing and Finance ...              1

In [35]:
final_ratings = ratings_with_books.merge(number_of_ratings, on='book-title')

In [36]:
final_ratings.head()

,user-id,isbn,book-rating,book-title,book-author,year-of-publication,publisher,image-url-l,total_ratings
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,60
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,14
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,650
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,1
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,1

In [37]:
#Taking only books having >= 50 ratings

final_ratings = final_ratings[final_ratings['total_ratings'] >= 50]

In [38]:
final_ratings.head()

,user-id,isbn,book-rating,book-title,book-author,year-of-publication,publisher,image-url-l,total_ratings
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,60
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,650
6,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,838
7,276746,0425115801,0,Lightning,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,274
8,276746,0449006522,0,Manhattan Hunt Club,JOHN SAUL,2002,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...,111

In [39]:
#Drop Duplicates

final_ratings.drop_duplicates(['user-id', 'book-title'], inplace=True)

In [40]:
final_ratings.head()

,user-id,isbn,book-rating,book-title,book-author,year-of-publication,publisher,image-url-l,total_ratings
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,60
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,650
6,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,838
7,276746,0425115801,0,Lightning,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,274
8,276746,0449006522,0,Manhattan Hunt Club,JOHN SAUL,2002,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...,111

In [ ]:
#Checking is there is any null values in the data

final_ratings.isnull().sum() 

#from below ---> No Null values

user-id                0
isbn                   0
book-rating            0
book-title             0
book-author            0
year-of-publication    0
publisher              0
image-url-l            0
total_ratings          0
dtype: int64

In [42]:
# Creating a Pivot Table --> Why it is needed...??
#It helps in Collaborative Filtering ie., when 2 users give almost similar kind of Rating to a particular book/movie --> 
#It can be identified as --> both have almost similar kind of Interests --> so it recommends --> similar kind of movies both watch to eachother
#Pivot Tables --> are inbuilt in PANDAS --> PYTHON

book_pivot = final_ratings.pivot_table(columns='user-id', index='book-title', values='book-rating')

In [ ]:
book_pivot
#It contains --> User ID --> for every user --> books they read --> what are the rating they gave
#NaN --> data is the data ---> they didn't gave any Ratings

user-id,8,9,14,16,17,19,23,26,32,39,...,278820,278824,278828,278832,278836,278843,278844,278846,278851,278854
book-title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 Lighthouse Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stardust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
book_pivot.fillna(0, inplace=True) #used to fill NaN values with 0's

In [45]:
book_pivot

user-id,8,9,14,16,17,19,23,26,32,39,...,278820,278824,278828,278832,278836,278843,278844,278846,278851,278854
book-title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stardust,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
#We need to import CSR Matrix --> It is useful in Nearest Neighbour --> pattern

'''
⚡ The Problem:- 
    - Suppose you have 100,000 users and 10,000 books → the pivot table is 100k × 10k = 1 billion cells 😳.
    - But most users have rated only a few books → >95% of the cells are 0.
    - Storing this full matrix in memory = extremely inefficient.

✅ The Solution: csr_matrix:- 
    - csr_matrix (Compressed Sparse Row) is a sparse matrix representation from scipy.sparse.
    - Instead of storing all values (including zeros), it stores:
        - nonzero values,
        - their row indices,
        - their column indices.
    - Memory usage drops dramatically 🚀.

Why CSR specifically (and not COO/CSC)?
    - CSR (row-based compression) is super efficient when:
        - You want fast row slicing (good for "user-based" recommendation).
        - You do matrix multiplications (e.g., cosine similarity). #THE NEIGHBOUR BASED RECOMMENDATION
'''

from scipy.sparse import csr_matrix

In [59]:
book_sparse = csr_matrix(book_pivot)

In [60]:
book_sparse

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 113483 stored elements and shape (2444, 47994)>

In [61]:
#Importing nearest Neighbour module from Sikit Learn

'''
🧾 What is NearestNeighbors from sklearn?

    - NearestNeighbors is a machine learning algorithm for finding similar points in a dataset.
    - In our case, the “points” are either books or users represented as vectors (rows of the sparse matrix).
    - It doesn’t predict ratings directly; instead, it finds the closest neighbors (most similar items/users).

INSIDE THE CODE

1. NearestNeighbors
    - Creates a model that, given a data point (book/user), can find its k-nearest neighbors.
    - Used in KNN (k-nearest neighbors) recommendation systems.

2. algorithm='brute'
    - Means it uses brute-force search → compares a point with all other points.
    - Works well with cosine similarity or Euclidean distance on sparse data.
    - Slower than tree-based algorithms, but better for high-dimensional & sparse data (like our user-book matrix).

🧠 Why do we use this in book recommender?
    - We want to recommend books based on similarity:
        - If two books have been rated similarly by many users → they are neighbors (book-based CF).
        - If two users rate books similarly → they are neighbors (user-based CF).

-----------> NEXT STEP IS TO TRAIN THE MODEL --> BY GIVING THE CSR_MATRIX <-----------------------------
'''

from sklearn.neighbors import NearestNeighbors
model1 = NearestNeighbors(algorithm='brute')

In [62]:
model1.fit(book_sparse)   # book_sparse = csr_matrix of user-book ratings

#NOW WE Started Training the Model here

NearestNeighbors(algorithm='brute')

In [63]:
''' 
iloc in pandas
    - iloc = index location-based selection.
    - It is used to select rows and columns by their integer positions (not labels).
    - 237 --> 238th ROW
    - : ---> all columns --> ie., select all the Columns in 238th ROW
'''

book_pivot.iloc[237,:]

user-id
8         0.0
9         6.0
14        0.0
16        0.0
17        0.0
         ...
278843    0.0
278844    0.0
278846    0.0
278851    0.0
278854    0.0
Name: Beloved (Plume Contemporary Fiction), Length: 47994, dtype: float64

In [64]:
''' 
This line finds the 6 most similar books to the book at row 237.
    - distance = how close they are.
    - suggestion = which books they are (row indices).
    - Used in recommender systems to suggest books that readers of one book also liked.


1. book_pivot.iloc[237, :]
    - Selects the 238th row of the pivot table → i.e., all user ratings for a specific book.
    - This gives you a 1D vector like:
        [5, 0, 3, 0, 0, 4, ...]

2.  .values
    - Converts the pandas Series into a NumPy array (so sklearn can use it).
    - array([5, 0, 3, 0, 0, 4, ...])

3. .reshape(1, -1)
    - kneighbors() expects input in 2D shape → (n_samples, n_features).
    - Here:
        - 1 = we are passing 1 sample (the chosen book).
        - -1 = automatically infer the number of features (number of users).

4. model1.kneighbors(...)
    - kneighbors() finds the k nearest neighbors (similar rows/books).

5. n_neighbors=6
    - Tells sklearn: “Find the 6 closest books (including the book itself).”
    - Usually, the first neighbor is the book itself (distance = 0).
    - The other 5 are recommended similar books.

6. distance, suggestion

kneighbors() returns two outputs:
    - distance → Array of distances between your chosen book and its neighbors.
    Example:
        - [[0.0, 2.83, 3.16, 4.12, 4.47, 4.58]]
        - (smaller distance = more similar).

    - suggestion → Array of indices (row positions in book_pivot) of those neighbors.
    Example:
        - [[237, 102, 56, 89, 331, 72]]
        - These are the row numbers of similar books.
'''

distance, suggestion = model1.kneighbors(book_pivot.iloc[237, :].values.reshape(1, -1), n_neighbors=6)

In [ ]:
#'0' in the output --> Book comparing itself so -- Distance is zero
distance, suggestion

(array([[ 0.        , 74.13501197, 74.14849965, 74.25631286, 74.38413809,
         74.42445835]]),
 array([[ 237, 1713,  770,   65, 1391,  284]]))

In [67]:
#Let's see what books it suggested
''' 
Not Content-Based
    Notice: the books are from different genres (fiction, crime, romance, fantasy).
        - The algorithm isn’t looking at content (words, authors, genres).
        - It purely looks at user behavior (who rated what).
        - So the similarity is behavioral, not thematic.
'''
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Beloved (Plume Contemporary Fiction)', 'The Blooding',
       'Ground Zero and Beyond', 'A Secret Affair', 'Reasonable Doubt',
       'Blood and Gold (Rice, Anne, Vampire Chronicles.)'],
      dtype='object', name='book-title')

In [68]:
#Keeping Book Names
book_names = book_pivot.index

In [69]:
book_names

Index(['10 Lb. Penalty', '16 Lighthouse Road', '1984', '1st to Die: A Novel',
       '2010: Odyssey Two', '204 Rosewood Lane', '2061: Odyssey Three',
       '24 Hours', '2nd Chance', '3rd Degree',
       ...
       'YOU BELONG TO ME', 'Year of Wonders', 'You Belong To Me',
       'You Shall Know Our Velocity', 'Young Wives',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"',
       '\Surely You're Joking, Mr. Feynman!\": Adventures of a Curious Character"',
       'stardust'],
      dtype='object', name='book-title', length=2444)

In [70]:
#Storing All the books in a List 
book_name_suggested = []
for book_id in suggestion:
    book_name_suggested.append(book_pivot.index[book_id])

In [71]:
book_name_suggested

[Index(['Beloved (Plume Contemporary Fiction)', 'The Blooding',
        'Ground Zero and Beyond', 'A Secret Affair', 'Reasonable Doubt',
        'Blood and Gold (Rice, Anne, Vampire Chronicles.)'],
       dtype='object', name='book-title')]

In [75]:
#Using Book Names from the Above List --> Extracting POSTERS of the Book
ids_index = []
for name in book_name_suggested[0]:
    ids = np.where(final_ratings['book-title'] == name)[0][0]
    ids_index.append(int(ids))

In [78]:
ids_index

[620, 5045, 13605, 2774, 1412, 7971]

In [82]:
for idx in ids_index:
    photo_url = final_ratings.iloc[idx]['image-url-l']
    print(photo_url)

http://images.amazon.com/images/P/0452264464.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553282816.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/1401088945.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0061012289.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0804107491.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0345409329.01.LZZZZZZZ.jpg

In [83]:
import pickle
pickle.dump(model1, open('artifacts/model1.pk1', 'wb'))
pickle.dump(book_names, open('artifacts/booknames.pk1', 'wb'))
pickle.dump(final_ratings, open('artifacts/final_ratings.pk1', 'wb'))
pickle.dump(book_pivot, open('artifacts/book_pivot.pk1', 'wb'))